body{
  margin: 10px;
}


#carousel-item{
  margin-top: 15px;
}
#red{
  font-weight: bold;
  color: #990000;
}

#blue {
  font-weight: bold;
  color: #00007f;
}

.jumbotron-bg {
  background-image: linear-gradient(to bottom, #005299, #e6f3ff), url('../img/seattleSkyline.png');
  background-image: linear-gradient(to bottom, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7)), url('../img/seattleSkyline.png');
  background-image: -moz-linear-gradient(top, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7)), url('../img/seattleSkyline.png');
  background-image: -o-linear-gradient(top, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7)), url('../img/seattleSkyline.png');
  background-image: -webkit-linear-gradient(top, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7)), url('../img/seattleSkyline.png');
  background-repeat:no-repeat;
  background-size: cover;
  max-width: 100%;
  font-size:3em;
  padding:1em;
  line-height:1;


}

.carousel{
    background: #2f4357;
    margin-top: 10px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 580px) {
    .container{
        max-width: 970px;
    }

    .jumbotron-bg {
      background-position: top left;
      background-size: cover;
  }

}
/* Small devices (landscape phones, 480px and up) */
@media (max-width: 380px) {

  .jumbotron-bg {
    background-position: top left;
    background-size: auto;
}

 }
