
.red{
  font-weight: bold;
  color: #990000;
}

.blue {
  font-weight: bold;
  color: #00007f;
}

#about{
  background-color: #e6f3ff;
}

.jumbotron-bg {
  background-image: linear-gradient(to bottom, #005299, #e6f3ff), url('../img/seattleSkyline.png');
  background-image: linear-gradient(to bottom, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7)), url('../img/seattleSkyline.png');
  background-image: -moz-linear-gradient(top, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7)), url('../img/seattleSkyline.png');
  background-image: -o-linear-gradient(top, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7)), url('../img/seattleSkyline.png');
  background-image: -webkit-linear-gradient(top, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7)), url('../img/seattleSkyline.png');
  background-repeat:no-repeat;
  background-size: cover;
  max-width: 100%;
  font-size:3em;
  padding:1em;
  line-height:1;


}

.carousel{
    margin: 0 auto;
    background: #e6f2ff;
    margin-top: 10px;
}
.carousel-item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    max-height: 580px;
}
.carousel img{
    margin: 0 auto; /* Align slide image horizontally center */
    max-height: 290px;

}

.carousel p{
    margin: 10 auto; /* Align center */
    height: 180px;
    max-height: 180px;
}

.carousel-fade: {
    .carousel-inner {
        .carousel-item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
