<div class="dialog">
	<div class="line">
		<label for="server">Server</label>
		<input type="text" id="server" placeholder="Server name">
	</div>
	<div class="line">
		<label for="database">Database</label>
		<input type="text" id="database" placeholder="The database name">
	</div>
	<div class="line">
		<label for="user">Email</label>
		<input type="text" id="user" placeholder="Your email address">
	</div>
	<div class="line">
		<label for="password">Password</label>
		<input type="password" id="password" placeholder="Password">
	</div>
	<div class="line error" id="loginError" style="display: none;">
		Invalid User or Password
	</div>
	<div class="line">
		<button id="loginButton">Login</button>
	</div>
</div>