#browserAlarm .baField {
    padding: 25px 25px 0 0;
}

#browserAlarm .baField label[for=turnOn]{
    padding: 20px 40px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#browserAlarm #dlContainer {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
}

#browserAlarm .dlContainer {
    position: relative;
    min-height: 60px;
}

#browserAlarm .listHeader {
    width: 100%;
    overflow: hidden;
    border-bottom: 2px #5293c6 solid;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#browserAlarm .listName {
    font-weight: 400;
    margin: 2px 0 0;
    border-bottom: 3px #5293c6 solid;
    padding: 11px 0;
    color: #25477b;
    font-size: 1.3em;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

#browserAlarm .dlRow td {
    line-height: 32px;
    background: #fefefe;
    border: none;
    min-height: 32px;
    border-bottom: 1px #ddd solid;
    border-left: 5px #c5dbec solid;
    padding: 8px 15px;
    margin-bottom: 1px;
    margin-left: 0;
    overflow: hidden;
    display: block;
    cursor: pointer;
    color: #25477b;
}

#browserAlarm .dlRow td .alarmName {
    margin-left: 30px;
}

#browserAlarm input {
    width: auto;
}

#browserAlarm .geotabToolbarTextField {
    float: left;
    margin-right: 3px;
    padding: 6px;
}

#browserAlarm .notSupportWarning {
    border: 1px solid #cd0a0a;
    display: none;
    padding: 10px;
    margin: 10px 0;
    background-color: #f2dede;
    color: #cd0a0a;
    width: auto;
    border-radius: 3px;
}

/*waiting*/
#browserAlarm .waiting, #browserAlarmPopup .waiting {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2229%22%20width%3D%2228%22%3E%3Cg%20style%3D%22stroke%3A%23000%3Bstroke-width%3A4%3Bstroke-linecap%3Around%3B%22%20transform%3D%22matrix(.703%200%200%20.703%2014.156%2014.156)%22%3E%3Cline%20y1%3D%2211%22%20y2%3D%2218%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(30)%22%20y1%3D%2211%22%20opacity%3D%22.917%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(60)%22%20y1%3D%2211%22%20opacity%3D%22.835%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(90)%22%20y1%3D%2211%22%20opacity%3D%22.752%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(120)%22%20y1%3D%2211%22%20opacity%3D%22.669%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(150)%22%20y1%3D%2211%22%20opacity%3D%22.587%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(180)%22%20y1%3D%2211%22%20opacity%3D%22.504%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(210)%22%20y1%3D%2211%22%20opacity%3D%22.421%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(240)%22%20y1%3D%2211%22%20opacity%3D%22.339%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(270)%22%20y1%3D%2211%22%20opacity%3D%22.256%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(300)%22%20y1%3D%2211%22%20opacity%3D%22.174%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(330)%22%20y1%3D%2211%22%20opacity%3D%22.091%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") center no-repeat;
    background-size: 40px;
    min-height: 20px;
    -webkit-animation: waiting 0.8s linear infinite;
    animation: waiting 0.8s linear infinite;
}

#browserAlarm .waiting-background, #browserAlarmPopup .waiting-background {
    position: absolute;
    background-color: #000;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    top: 0;
}

@-webkit-keyframes waiting {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes waiting {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/*popup Window*/
#browserAlarmPopup {
    display: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

#browserAlarmPopup .popupContainer {
    position: relative;
    margin: 10% auto;
    width: 500px;
    max-height: 100%;
    background-color: #fefefe;
    border: 1px solid #c5dbec;
    z-index: 7000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 3px;
}

#browserAlarmPopup .popupContent {
    padding: 10px 20px;
    border-bottom: 1px solid #c5dbec;
}

#browserAlarmPopup .popupHeader {
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    color: #25477b;
    font-size: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    border-bottom: 1px solid #ddd;
}

#browserAlarmPopup .popupButtons {
    padding: 10px 20px;
    text-align: right;
}

#browserAlarmPopup #addAlarmContainer .uploadRow {
    margin: 20px 0;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

#browserAlarmPopup #addAlarmContainer .uploadRow input,div,button {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
}

#browserAlarmPopup #alarmName {
    margin-right: 5px;
    width: auto;
}

#browserAlarmPopup #addAlarmContainer .popupButtons {
    padding: 10px 0;
}

#browserAlarmPopup .popupButtons button {
    margin-left: 5px;
}

#browserAlarmPopup #addAlarmButton {
    width: 100%;
    margin-top: 10px;
}

#browserAlarmPopup #uploadAlarmButton {
    width: auto;
    float: left;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}

#browserAlarmPopup #uploadAlarmInput {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#browserAlarmPopup #applyAddedAlarmButton {
    margin-right: 5px;
}

#browserAlarmPopup .closeCross, #browserAlarmPopup .checkIcon {
    display: block;
    padding: 0;
    float: right;
    max-width: 32px;
}

#browserAlarmPopup #alarmList div:not(.removeAlarm) {
    border: 1px #c5dbec solid;
    padding: 6px;
    margin-bottom: 1px;
    margin-left: 0;
    overflow: hidden;
    display: block;
    color: #25477b;
}

#browserAlarmPopup .removeAlarm {
    height: 20px;
    width: 20px;
}

#browserAlarmPopup .closeCross:before, #browserAlarmPopup .closeCross:after {
    position: absolute;
    content: ' ';
    width: 2px;
}

#browserAlarmPopup #cancelAddingAlarmButton:before, #browserAlarmPopup #cancelAddingAlarmButton:after {
    top: 7px;
    left: 14px;
    height: 16px;
    background-color: #fff;
}

#browserAlarmPopup .removeAlarm:before, #browserAlarmPopup .removeAlarm:after {
    top: 4px;
    left: 8px;
    height: 10px;
    background-color: #333;
}

#browserAlarmPopup .closeCross:before {
    transform: rotate(45deg);
}

#browserAlarmPopup .closeCross:after {
    transform: rotate(-45deg);
}

#browserAlarmPopup .checkIcon:before, #browserAlarmPopup .checkIcon:after {
    position: absolute;
    content: ' ';
    width: 2px;
    background-color: #fff;
}

#browserAlarmPopup .checkIcon:before {
    transform: rotate(45deg);
    top: 7px;
    left: 16px;
    height: 16px;
}

#browserAlarmPopup .checkIcon:after {
    transform: rotate(-45deg);
    top: 13px;
    left: 8px;
    height: 8px;
}